<!-- https://www.w3schools.com/howto/howto_css_signup_form.asp -->

<div class="container-fluid register-page">

<div class="register-form col-md-6">
<h2>Signup Form</h2>

  <div *ngIf="message"> {{ message }} </div>

  <div class="clearfix">
    <a routerLink="/login" routerLinkActive="active"><u>Already a user? Login!</u></a>
  </div>

  <label><b>Username</b></label>
  <input [(ngModel)]="user.username" /><br />
  <label><b>Email</b></label>
  <input [(ngModel)]="user.email" /><br />
  <label><b>Password</b></label>
  <input type="password" [(ngModel)]="user.password" /><br />
  <label><b>Repeat Password</b></label>
  <input type="password" [(ngModel)]="confirmPass">
  <!--<input type="text" placeholder="Desired Username" name="username" required>
            
      
      <input type="checkbox" checked="checked"> Remember me
      -->
<div class="clearfix">
    <button type="button" class="cancelbtn">Cancel</button>
    <button (click)="register()" class="signupbtn">Sign Up</button>
</div>
</div>
</div>

<!--
  <div class="result-page-container col-md-6">
    <h2>Results:</h2>
    <ul class="rooms">
      <li *ngFor="let room of rooms"
	  [class.selected]= "room === selectedRoom"
	  (click)="onSelect(room)">
	<span class="badge">{{room.roomID}}</span> {{room.title}}
      </li>
    </ul>
    <div *ngIf="selectedRoom">
      <h4>Description:</h4>{{selectedRoom.description}}<br />
      <button (click)="gotoDetail()">Join Chatroom</button>
    </div>
  </div>
</div>
-->
