.room-content{
    background-color: yellow;
    display: flex;
    flex-direction:column;
    text-align:center;
    height: calc(100% - 52px);
    margin: 0 0 0 0;
}
.room-container{
    position:relative;
    background-color: green;
    display:flex;
    flex-direction:row;
    flex:1;
    margin: 0;
}

.room-core{
    background: linear-gradient(120deg, rgba(23, 190, 187, 1), rgba(240, 166, 202, 1));
    flex-direction: column; /*everything magically went into place*/
    flex:1;
    margin:0;
}

.toolbar{
    background-color: blue;
    display:flex;
    flex-direction:column;
    flex-grow:1;
    align-self: stretch;
    justify-self: stretch;
}

.users{
    background-color: blue;
    display:flex;
    flex-direction:column;
    flex-grow:1;
    align-self: stretch;
    justify-self: stretch;
}