/*color selected object*/
.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.rooms {  
    list-style-type: none; /*removes bullet points */
    padding: 0; /*pushes padding, moving the bullets to the left */
    width: 15em; /*limit the highlight when selected*/
}

.rooms li {

    cursor: pointer;
    position: relative;
    background-color: #EEE; /*turns the bullets white*/
    margin: .5em; /* adds spacing between bullets */
    padding: .3em 0; /*makes each bullet thicker*/
    border-radius: 10px; /*rounds the edges*/
}

.rooms li:hover {
    color: #607D8B; /*changes color of text on hover*/
    background-color: #DDD; /*changes color of bullets*/
}

.rooms .badge {

    display: inline-block;
    font-size: small;
    color: white; /*changes text color*/
    /*padding: 0.8em 0.7em 0.7em 0.7em;*/
    background-color: #607D8B; /*changes background color*/
    line-height: 1em; /* changes number position inside the badge */
    position: relative;
    top: -4px; /*moves to align the top left corner*/
    height: 1.8em;
    margin-right: .8em;
    border-radius: 10px 0 0 0;
}
button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}
button:hover {
    background-color: #cfd8dc;
}
