<!-- https://www.w3schools.com/howto/howto_css_login_form.asp -->

<h2>Login Form</h2>

<div class="full-login">

  <div class="container">
    <label><b>Username</b></label>
    <input [(ngModel)]="user.username" /><br />
    <label><b>Password</b></label>
    <input [(ngModel)]="user.password" /><br />
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <!--<input type="checkbox" checked="checked"> Remember me-->
    <button type="button" class="cancelbtn">Cancel</button>
    <button (click)="login()">Login</button>
    <a class = "btn" href="/auth/facebook">Login with Facebook</a>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</div>
